################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/ProjectEvaluation/single-arch.metadata.v8.bin
/.vs/ProjectEvaluation/single-arch.projects.v8.bin
/.vs/single-arch/config/applicationhost.config
/.vs/single-arch/DesignTimeBuild/.dtbcache.v2
*.vsidx
/.vs/single-arch/v17/.suo
/.vs/single-arch/v17/DocumentLayout.json
/Business/ADM/ADM001_User/ADM001_User.Api/obj
/Business/ADM/ADM001_User/ADM001_User.Business/bin/Debug/net8.0
/Business/ADM/ADM001_User/ADM001_User.Business/obj
/Business/ADM/ADM001_User/ADM001_User.Model/bin/Debug/net8.0
/Business/ADM/ADM001_User/ADM001_User.Model/obj
/Host/Project.Host/bin/Debug/net8.0
/Host/Project.Host/obj
/Project.Base/Project.Base.Common/bin/Debug/net8.0
/Project.Base/Project.Base.Common/obj
/Project.Base/Project.Base.DependencyInjection/bin/Debug/net8.0
/Project.Base/Project.Base.DependencyInjection/obj
/Project.Base/Project.Base.IRepository/bin/Debug/net8.0
/Project.Base/Project.Base.IRepository/obj
/Project.Base/Project.Base.IService/bin/Debug/net8.0
/Project.Base/Project.Base.IService/obj
/Project.Base/Project.Base.Model/bin/Debug/net8.0
/Project.Base/Project.Base.Model/obj/Debug/net8.0
/Project.Base/Project.Base.Model/obj
/Project.Base/Project.Base.Module/bin/Debug/net8.0
/Project.Base/Project.Base.Module/obj
/Project.Base/Project.Base.ProjAttribute/bin/Debug/net8.0
/Project.Base/Project.Base.ProjAttribute/obj/Debug/net8.0
/Project.Base/Project.Base.ProjController/bin/Debug/net8.0
/Project.Base/Project.Base.ProjController/obj/Debug/net8.0
/Project.Base/Project.Base.ProjController/obj
/Project.Base/Project.Base.ProjExtension/bin/Debug/net8.0
/Project.Base/Project.Base.ProjExtension/obj
/Project.Base/Project.Base.Reflect/bin/Debug/net8.0
/Project.Base/Project.Base.Reflect/obj
/Project.Base/Project.Base.Repository/bin/Debug/net8.0
/Project.Base/Project.Base.Repository/obj
/Project.Base/Project.Base.Service/bin/Debug/net8.0
/Project.Base/Project.Base.Service/obj
/Project.Base/Project.Base.ProjAttribute/obj
